<div class="container">
  <h1>Tap as fast as you can!</h1>

  <div class="row">
    <div class="col song-block">
      <p >Song 1</p>
      <p >Artist 1</p>
    </div>
    <div class="col song-block">
      <p>Song 2</p>
      <p >Artist 2</p>
    </div>
  </div>

  <div class="row">
    <div class="col song-block">
      <p>Song 3</p>
      <p >Artist 3</p>
    </div>
    <div class="col song-block">
      <p>Song 4</p>
      <p >Artist 4</p>
    </div>
  </div>

  <h1><span id="countdown"></span></h1>

</div>
