<!--
  HOST AND GUEST
  STAGE 5
  get "/sessions/:uuid/song_votes/new", to: "song_votes#new", as: :new_song_votes
  post "/sessions/:uuid/song_votes", to: "song_votes#create", as: :create_song_votes
  # song voting, different views for host and guest
  # previous page: ../game_sessions/song_start.html.erb
  # next page: ../game_sessions/song_result.html.erb
 -->

<%= turbo_stream_from "game_session_#{@session.uuid}_host" if @session.user == current_user %>
<%= turbo_stream_from "game_session_#{@session.uuid}_guest" if current_guest_for_session %>

<div class="container">
  <h1>Tap as fast as you can!</h1>

  <div class="row">
    <div class="col song-block">
      <p >Song 1</p>
      <p >Artist 1</p>
    </div>
    <div class="col song-block">
      <p>Song 2</p>
      <p >Artist 2</p>
    </div>
  </div>

  <div class="row">
    <div class="col song-block">
      <p>Song 3</p>
      <p >Artist 3</p>
    </div>
    <div class="col song-block">
      <p>Song 4</p>
      <p >Artist 4</p>
    </div>
  </div>

  <h1><span id="countdown"></span></h1>

  <%= render 'shared/debug_stage_nav' %>

</div>
