<%= turbo_stream_from "game_session_#{@session.uuid}_guests" if current_guest_for_session %>

<div class="container">

<h1>Welcome Stranger!</h1>
<p>Please tell us your nickname to join!</p>

<%= form_with model: @guest,
              url: create_guest_path,
              local: true,
              class: "needs-validation",
              novalidate: true do |form| %>
  <%= form.text_field :nickname,
                      class: "form-control form-control-lg",
                      placeholder: "Enter your nickname",
                      required: true %>
  <%= form.submit "Submit", class: "btn btn btn-outline-light goto_bt mt-5" %>
<% end %>

</div>
