<%= turbo_stream_from "game_session_#{@session.uuid}_guest" if current_guest_for_session %>


<div class="container">

  <h1>Pick a nickname, superstar!</h1>
  <p>Make it spicy — this is how the crowd will remember (or roast) you.</p>

  <%= form_with model: @guest,
                url: create_guest_path,
                local: true,
                class: "needs-validation",
                novalidate: true do |form| %>
    <%= form.text_field :nickname,
                        class: "form-control form-control-lg",
                        placeholder: "Ariana Not-So-Grande",
                        required: true %>
    <%= form.submit "Let's Do This!", class: "btn btn btn-outline-light goto_bt mt-5" %>
  <% end %>

</div>
