h1{
  color: white;
  font-size: 50px;
  text-align: center;
  margin: 20px 0;
}

.genre-selected{
  color: white;
  font-size: 180px;
}

@media only screen and (max-width: 576px) {
  .genre-selected{
  color: white;
  font-size: 80px;
}
}

.game_sessions-genre_result.pop {
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), asset_url("pop.jpg");
  animation: gradient 120s ease infinite;
  background-color: black;
}

.game_sessions-genre_result.hiphop {
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), asset_url("hiphop.jpg");
  animation: gradient 120s ease infinite;
  background-color: black;
}

.game_sessions-genre_result.rock {
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), asset_url("rock.jpg");
  animation: gradient 120s ease infinite;
  background-color: black;
}

.game_sessions-genre_result.rb {
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), asset_url("soul.jpg");
  animation: gradient 120s ease infinite;
  background-color: black;
}

.game_sessions-genre_result.dance {
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), asset_url("disco.jpg");
  animation: gradient 120s ease infinite;
  background-color: black;
}
