<% session_obj = local_assigns[:session] || @session %>

<% if session_obj && session_obj.respond_to?(:guests) && session_obj.guests.any? %>
  <div id="guests-box" class="overflow-auto">
    <% session_obj.guests.order(:created_at).each do |guest| %>
      <div class="">
        <p class="guests-list-p"><%= guest.nickname %></p>
      </div>
    <% end %>
  </div>
<% else %>
  <div id="guests-box" class="overflow-auto">
    <div class="">
      <p class="guests-list-p lh-sm">
        Don’t make us sing alone!
      </p>
    </div>
  </div>
<% end %>
