<% session_obj = local_assigns[:session] || @session %>

<% if session_obj && session_obj.respond_to?(:guests) && session_obj.guests.any? %>
  <div id="guests-box" class="overflow-auto">
    <% session_obj.guests.order(:created_at).each do |guest| %>
      <div class="guests-list-container">
        <div class="guests-list-p"><%= guest.nickname %></div>
      </div>
    <% end %>
  </div>
<% else %>
  <div id="guests-box" class="overflow-auto">
    <div class="guests-list-container">
      <p class="guests-list-p lh-sm">
          <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><style>.spinner_qM83{animation:spinner_8HQG 1.05s infinite}.spinner_oXPr{animation-delay:.1s}.spinner_ZTLf{animation-delay:.2s}@keyframes spinner_8HQG{0%,57.14%{animation-timing-function:cubic-bezier(0.33,.66,.66,1);transform:translate(0)}28.57%{animation-timing-function:cubic-bezier(0.33,0,.66,.33);transform:translateY(-6px)}100%{transform:translate(0)}}</style><circle fill="white" class="spinner_qM83" cx="4" cy="12" r="3"/><circle fill="white" class="spinner_qM83 spinner_oXPr" cx="12" cy="12" r="3"/><circle fill="white" class="spinner_qM83 spinner_ZTLf text-light" cx="20" cy="12" r="3"/></svg>
      </p>
    </div>
  </div>
<% end %>
