<% session_obj = local_assigns[:session] || @session %>

<% if session_obj && session_obj.respond_to?(:guests) %>
  <p class="guests-count-p">
    <%= pluralize(session_obj.guests.count, 'legend') %> and counting ...
  </p>
<% else %>
  <p class="guests-count-p">
    Nobody here yet...
  </p>
<% end %>
