<% session_obj = local_assigns[:session] || @session %>
<% if session_obj && session_obj.respond_to?(:guests) %>
  <p style="text-align:left;"><%= pluralize(session_obj.guests.count, 'person') %> in the session now</p>
<% else %>
  <p style="text-align:left;">0 people in the session now</p>
<% end %>
