<% session_obj = local_assigns[:session] || @session %>
<% can_start = local_assigns[:can_start] || false %>

<% if can_start %>
  <%= button_to "START THE FUN",
                genre_start_path(session_obj.uuid),
                method: :get,
                class: "btn btn-outline-light goto_bt" %>
<% else %>
  <button class="btn btn-outline-light goto_bt" disabled>
    Waiting for guests...
  </button>
<% end %>
