<!--
  HOST AND GUEST
  STAGE 2
  get "/sessions/:uuid/genre_start", to: "game_sessions#genre_start", as: :genre_start
  # announcement for genre voting, host and guest get here after green room
  # previous page host: show.html.erb
  # previous page guest: green_room.html.erb
  # next page: ../genre_votes/new.html.erb
 -->

<%= turbo_stream_from "game_session_#{@session.uuid}_host" if @session.user == current_user %>
<%= turbo_stream_from "game_session_#{@session.uuid}_guest" if current_guest_for_session %>


<div class="container">
  <h1>You have waited long enough!</h1>
  <p>Let’s start easy: Get ready to choose your favorite music genre</P>

  <%= render 'shared/countdown',
      duration: 10,           # Uses your existing countdown-10 CSS
      session: @session,
      next_stage: 3.0,
      title: "Voting starts in:",
      auto_advance: true %>
      
  <h1><span id="countdown-10"></span></h1>
</div>

<%= render 'shared/debug_stage_nav' %>
