<%# <%= turbo_stream_from "game_session_#{@session.uuid}_host" if @session.user == current_user %>


<h1>stats</h1>

<%= turbo_stream_from "genre_stats_for_#{@session.id}" %>
<div id="stats">
  <%= render "genre_chart_stat", session: @session %>
</div>
