<!--
  HOST
  STAGE 3.0
  get "/sessions/:uuid/genre_stats", to: "game_sessions#genre_stats", as: :genre_stats
  # shows genre voting statistics on host screen
  # previous page: genre_start.html.erb
  # next page: genre_result
 -->

<%= turbo_stream_from "game_session_#{@session.uuid}_host" if @session.user == current_user %>
<%= turbo_stream_from "genre_stats_for_#{@session.id}" %>


<div class="container">

  <h1>The genre showdown is heating up! 🔥</h1>

  <div id="stats">
    <%= render "genre_chart_stat", session: @session %>
  </div>


  <h1>
    <%= render 'shared/countdown',
        duration: 20,
        session: @session,
        next_stage: 35.0,
        auto_advance: true %>
  </h1>


</div>
