<!--
  GUEST
  STAGE 1
  get "/sessions/:uuid/green_room", to: "game_sessions#green_room", as: :green_room_guest
  # green room for guest, gets here after joining with nickname
  # previous page:
  # next page:
 -->

<%= turbo_stream_from "game_session_#{@session.uuid}_guest" if current_guest_for_session %>


<div class="container">

  <h1>Look who showed up to the party! 🎤</h1>

  <div class="mt-5">

    <div class="text-start mt-1">
      <!-- IMPORTANT: Do not change the id of the div - required for turbo-stream -->
      <p id="guest-count" class="text-center">
        <%= render 'guest_count', session: @session %>
      </p>
    </div>

    <div class="text-start">
      <!-- IMPORTANT: Do not change the id of the div - required for turbo-stream -->
      <p id="guest-list" class="text-center">
        <%= render 'guest_list', session: @session %>
      </p>
    </div>

  </div>

  <!-- <%= render 'shared/debug_stage_nav' %> -->

</div>
