<div class="container">

<h1>Green Room</h1>

<%= turbo_stream_from "game_session_#{@session.uuid}_host" %>

<div class="row mt-5">
  <div class="col text-start">
    <div id="guest-list">
      <%= render 'guest_list', session: @session %>
    </div>
  </div>
  <div class="col text-start mt-1">
    <div id="guest-count">
      <%= render 'guest_count', session: @session %>
    </div>
  </div>
</div>

</div>
