<!--
  HOST
  STAGE 5.0
  get "/sessions/:uuid/song_stats", to: "game_sessions#song_stats", as: :song_stats
  # shows song voting statistics on host screen
  # previous page: song_start.html.erb
  # next page: song_result
 -->

<%= turbo_stream_from "game_session_#{@session.uuid}_host" if @session.user == current_user %>

<div class="container">

  <h1>What song is making the race?</h1>

  <%= render "song_chart_stat", session: @session %>

  <h1>
    <%= render 'shared/countdown',
        duration: 20,
        session: @session,
        next_stage: 55.0,
        auto_advance: true %>
  </h1>

</div>
