<div class="navbar navbar-expand-sm navbar-light navbar-lewagon m-4">
  <div class="container-fluid">
    <%= link_to "#", class: "navbar-brand" do %>
     <img src="/assets/disco-icon.svg" alt="logo" width="500">
    <% end %>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>

        <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "btn btn-light" %>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "btn btn-light d-none d-sm-block d-md-block d-lg-block" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
