<!--
  HOST
  STAGE 0
  root to: "pages#welcome"
  # lets host create a new session, host gets here after signup/signin
  # previous page: devise signup/signin
  # next page: ../game_sessions/show.html.erb
  post "/sessions", to: "game_sessions#create", as: :create_session
 -->

<div class="container">

  <h1>Welcome to Crowd Karaoke</h1>

  <p class="my-5">
    Time to turn your living room into the hottest (and most chaotic) karaoke bar in town.
    <br><%= current_user.name %> fire up a new game and let's see what your guests are made of!
  </p>

  <%= button_to "Start the Chaos!",
                create_session_path,
                method: :post,
                class: "btn btn-outline-light goto_bt" %>

</div>
