<!--
  HOST
  STAGE 0
  root to: "pages#welcome"
  # lets host create a new session, host gets here after signup/signin
  # previous page: devise signup/signin
  # next page: ../game_sessions/show.html.erb
 -->

<%= turbo_stream_from "game_session_#{@session.uuid}_host" if @session.user == current_user %>

<div class="container">

  <h1>Welcome to Crowd Karaoke</h1>

  <p class="my-5">
    A big-screen, AI-moderated karaoke party game that transforms any gathering into a joyful, all-in crowd sing-along
  </p>

  <%= button_to "Create session", create_session_path, class: "btn btn-outline-light goto_bt" %>

</div>
