<div class="container">
  <h1>Choose your favorite genre</h1>

  <div class="row">
    <div class="col song-block">
      <p>Pop</p>
    </div>
    <div class="col song-block">
      <p>Rock</p>
    </div>
  </div>

  <div class="row">
    <div class="col song-block">
      <p>R&B / Soul</p>
    </div>
    <div class="col song-block">
      <p>Hip-Hop / Rap</p>
    </div>
  </div>

  <div class="row">
    <div class="col song-block">
      <p>Country</p>
    </div>
    <div class="col song-block">
      <p>Dance / EDM / Disco</p>
    </div>
  </div>

  <h1><span></span></h1>

</div>
