<!--
  HOST AND GUEST
  STAGE 3
  get "/sessions/:uuid/genre_votes/new", to: "genre_votes#new", as: :new_genre_votes
  post "/sessions/:uuid/genre_votes", to: "genre_votes#create", as: :create_genre_votes
  # genre voting, different views for host and guest
  # previous page: ../game_sessions/genre_start.html.erb
  # next page: ../game_sessions/genre_result.html.erb
 -->

<%= turbo_stream_from "game_session_#{@session.uuid}_host" if @session.user == current_user %>
<%= turbo_stream_from "game_session_#{@session.uuid}_guests" if current_guest_for_session %>

<div class="container">
  <h1>Choose your favorite genre</h1>

  <div class="row">
    <div class="col song-block">
      <p>Pop</p>
    </div>
    <div class="col song-block">
      <p>Rock</p>
    </div>
  </div>

  <div class="row">
    <div class="col song-block">
      <p>R&B / Soul</p>
    </div>
    <div class="col song-block">
      <p>Hip-Hop / Rap</p>
    </div>
  </div>

  <div class="row">
    <div class="col song-block">
      <p>Country</p>
    </div>
    <div class="col song-block">
      <p>Dance / EDM / Disco</p>
    </div>
  </div>

  <h1><span></span></h1>

  <%= render 'shared/debug_stage_nav' %>

</div>
