<!--
  GUEST
  STAGE 3
  # shows selected genre for guest
  # previous page: new.html.erb
  # next page:
 -->

<%= turbo_stream_from "game_session_#{@session.uuid}_guest" if current_guest_for_session %>


<div class="container">

  <p>You just added some serious flavor to the mix.</p>
  <h1><%= @genre_vote.genre.name %></h1>
  <p>
    Wanna see how your taste stacks up? Check the big screen for the crowd’s vibe check.
  </p>

</div>
