<!--
  GUEST
  STAGE 3
  # shows selected genre for guest
  # previous page: new.html.erb
  # next page:
 -->

<%= turbo_stream_from "game_session_#{@session.uuid}_guest" if current_guest_for_session %>


<div class="container">

  <p>You voted for</p>
  <h1><%= @genre_vote.genre.name %></h1>
  <p style= "margin-top: 80px; font-size: 18px;">Waiting for others to finish the voting. Look at the big screen to see how it is devoloping.</p>

</div>
