.category-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.category-item {
  flex: 0 0 30%;
  padding: 10px;
}

.category-selector {
  position: absolute;
  transform: scale(0);
}

.category-selector + label {
    display: block;
    cursor: pointer;
    box-sizing: border-box;
    width: 100%;
    font-size: 27px;
    text-align: center;
    padding: 30px;
    border: 2px solid #ffffff;
    border-radius: 15px;
    color: white;
}

.category-selector:checked + label {
  color: white !important;
}


#genre_vote_category_ruby + label {
  color: #FD1015;
}

#genre_vote_category_ruby:checked + label {
  background-color: #FD1015;
  border-color: #FD1015;
}


#genre_vote_category_javascript + label {
  color: #FFC65A;
}

#genre_vote_category_javascript:checked + label {
  background-color: #FFC65A;
  border-color: #FFC65A;
}


#genre_vote_category_css + label {
  color: #62DDF5;
}

#genre_vote_category_css:checked + label {
  background-color: #62DDF5;
  border-color: #62DDF5;
}
