.goto_bt{
  font-size: 36px;
  display: block;
  margin: 0 auto;
  padding: 20px;
  background-color: none;
  border-radius: 20px;
}


.goto_bt-home{

  font-size: 20px;
  display: block;
  margin: 0 auto;
  padding: 20px;
  background-color: none;
  border-radius: 20px;
  margin-top: 200px;

}
