#guests-box {
  height:320px;
}

.guests-count-p{
    text-align:center;
}

.guests-list-p{
    font-size:24px;
    text-align:center;
    margin: 0;
}
.subtitle-new-guests{
  margin-top: 53px;
  margin-bottom: 18px !important;
  color: whitesmoke;
  font-weight: lighter;
}
